# Mac OS X cached files
.DS_Store

# Visual Basic Code
.vscode

# Py build
manage-indexes/libs/__pycache__
manage-apps/libs/__pycache__

# output
manage-apps/*/output/*
manage-apps/*/!output/README.txt
manage-apps/*/!output/README.md

# export
export-apps/*.tgz
